@keyframes progress-indeterminate {
    from {
        left: -25%;
    }

    to {
        left: 100%;
    }
}

[element-type="Application"][element-name="container"],
[element-type="Application"][element-name="container"] * {
    position: relative;
}

[element-type="Application"][element-name="container"] * {
    display: inline-block;
}

/* @media only screen and (max-width: 575.98px) {
    [element-name="container"][hide-on-small="true"] {
        display: none;
    }

    [small-column="1"],
    [small-column="medium"][medium-column="1"],
    [small-column="normal"][column="1"],
    [small-column="large"][large-column="1"],
    [small-column="xlarge"][xlarge-column="1"] {
        width: 8.33%;
    }

    [small-column="2"],
    [small-column="medium"][medium-column="2"],
    [small-column="normal"][column="2"],
    [small-column="large"][large-column="2"],
    [small-column="xlarge"][xlarge-column="2"] {
        width: 16.66%;
    }

    [small-column="3"],
    [small-column="medium"][medium-column="3"],
    [small-column="normal"][column="3"],
    [small-column="large"][large-column="3"],
    [small-column="xlarge"][xlarge-column="3"] {
        width: 25%;
    }

    [small-column="4"],
    [small-column="medium"][medium-column="4"],
    [small-column="normal"][column="4"],
    [small-column="large"][large-column="4"],
    [small-column="xlarge"][xlarge-column="4"] {
        width: 32.33%;
    }

    [small-column="5"],
    [small-column="medium"][medium-column="5"],
    [small-column="normal"][column="5"],
    [small-column="large"][large-column="5"],
    [small-column="xlarge"][xlarge-column="5"] {
        width: 41.66%;
    }

    [small-column="6"],
    [small-column="medium"][medium-column="6"],
    [small-column="normal"][column="6"],
    [small-column="large"][large-column="6"],
    [small-column="xlarge"][xlarge-column="6"] {
        width: 50%;
    }

    [small-column="7"],
    [small-column="medium"][medium-column="7"],
    [small-column="normal"][column="7"],
    [small-column="large"][large-column="7"],
    [small-column="xlarge"][xlarge-column="7"] {
        width: 58.33%;
    }

    [small-column="8"],
    [small-column="medium"][medium-column="8"],
    [small-column="normal"][column="8"],
    [small-column="large"][large-column="8"],
    [small-column="xlarge"][xlarge-column="8"] {
        width: 66.66%;
    }

    [small-column="9"],
    [small-column="medium"][medium-column="9"],
    [small-column="normal"][column="9"],
    [small-column="large"][large-column="9"],
    [small-column="xlarge"][xlarge-column="9"] {
        width: 75%;
    }

    [small-column="10"],
    [small-column="medium"][medium-column="10"],
    [small-column="normal"][column="10"],
    [small-column="large"][large-column="10"],
    [small-column="xlarge"][xlarge-column="10"] {
        width: 83.33%;
    }

    [small-column="11"],
    [small-column="medium"][medium-column="11"],
    [small-column="normal"][column="11"],
    [small-column="large"][large-column="11"],
    [small-column="xlarge"][xlarge-column="11"] {
        width: 91.66%;
    }

    [small-column="12"],
    [small-column="medium"][medium-column="12"],
    [small-column="normal"][column="12"],
    [small-column="large"][large-column="12"],
    [small-column="xlarge"][xlarge-column="12"] {
        width: 100%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    [element-name="container"][hide-on-medium="true"] {
        display: none;
    }

    [medium-column="1"],
    [medium-column="small"][small-column="1"],
    [medium-column="normal"][column="1"],
    [medium-column="large"][large-column="1"],
    [medium-column="xlarge"][xlarge-column="1"] {
        width: 8.33%;
    }

    [medium-column="2"],
    [medium-column="small"][small-column="2"],
    [medium-column="normal"][column="2"],
    [medium-column="large"][large-column="2"],
    [medium-column="xlarge"][xlarge-column="2"] {
        width: 16.66%;
    }

    [medium-column="3"],
    [medium-column="small"][small-column="3"],
    [medium-column="normal"][column="3"],
    [medium-column="large"][large-column="3"],
    [medium-column="xlarge"][xlarge-column="3"] {
        width: 25%;
    }

    [medium-column="4"],
    [medium-column="small"][small-column="4"],
    [medium-column="normal"][column="4"],
    [medium-column="large"][large-column="4"],
    [medium-column="xlarge"][xlarge-column="4"] {
        width: 32.33%;
    }

    [medium-column="5"],
    [medium-column="small"][small-column="5"],
    [medium-column="normal"][column="5"],
    [medium-column="large"][large-column="5"],
    [medium-column="xlarge"][xlarge-column="5"] {
        width: 41.66%;
    }

    [medium-column="6"],
    [medium-column="small"][small-column="6"],
    [medium-column="normal"][column="6"],
    [medium-column="large"][large-column="6"],
    [medium-column="xlarge"][xlarge-column="6"] {
        width: 50%;
    }

    [medium-column="7"],
    [medium-column="small"][small-column="7"],
    [medium-column="normal"][column="7"],
    [medium-column="large"][large-column="7"],
    [medium-column="xlarge"][xlarge-column="7"] {
        width: 58.33%;
    }

    [medium-column="8"],
    [medium-column="small"][small-column="8"],
    [medium-column="normal"][column="8"],
    [medium-column="large"][large-column="8"],
    [medium-column="xlarge"][xlarge-column="8"] {
        width: 66.66%;
    }

    [medium-column="9"],
    [medium-column="small"][small-column="9"],
    [medium-column="normal"][column="9"],
    [medium-column="large"][large-column="9"],
    [medium-column="xlarge"][xlarge-column="9"] {
        width: 75%;
    }

    [medium-column="10"],
    [medium-column="small"][small-column="10"],
    [medium-column="normal"][column="10"],
    [medium-column="large"][large-column="10"],
    [medium-column="xlarge"][xlarge-column="10"] {
        width: 83.33%;
    }

    [medium-column="11"],
    [medium-column="small"][small-column="11"],
    [medium-column="normal"][column="11"],
    [medium-column="large"][large-column="11"],
    [medium-column="xlarge"][xlarge-column="11"] {
        width: 91.66%;
    }

    [medium-column="12"],
    [medium-column="small"][small-column="12"],
    [medium-column="normal"][column="12"],
    [medium-column="large"][large-column="12"],
    [medium-column="xlarge"][xlarge-column="12"] {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    [element-name="container"][hide-on-normal="true"] {
        display: none;
    }

    [column="1"],
    [column="small"][small-column="1"],
    [column="medium"][medium-column="1"],
    [column="large"][large-column="1"],
    [column="xlarge"][xlarge-column="1"] {
        width: 8.33%;
    }

    [column="2"],
    [column="small"][small-column="2"],
    [column="medium"][medium-column="2"],
    [column="large"][large-column="2"],
    [column="xlarge"][xlarge-column="2"] {
        width: 16.66%;
    }

    [column="3"],
    [column="small"][small-column="3"],
    [column="medium"][medium-column="3"],
    [column="large"][large-column="3"],
    [column="xlarge"][xlarge-column="3"] {
        width: 25%;
    }

    [column="4"],
    [column="small"][small-column="4"],
    [column="medium"][medium-column="4"],
    [column="large"][large-column="4"],
    [column="xlarge"][xlarge-column="4"] {
        width: 32.33%;
    }

    [column="5"],
    [column="small"][small-column="5"],
    [column="medium"][medium-column="5"],
    [column="large"][large-column="5"],
    [column="xlarge"][xlarge-column="5"] {
        width: 41.66%;
    }

    [column="6"],
    [column="small"][small-column="6"],
    [column="medium"][medium-column="6"],
    [column="large"][large-column="6"],
    [column="xlarge"][xlarge-column="6"] {
        width: 50%;
    }

    [column="7"],
    [column="small"][small-column="7"],
    [column="medium"][medium-column="7"],
    [column="large"][large-column="7"],
    [column="xlarge"][xlarge-column="7"] {
        width: 58.33%;
    }

    [column="8"],
    [column="small"][small-column="8"],
    [column="medium"][medium-column="8"],
    [column="large"][large-column="8"],
    [column="xlarge"][xlarge-column="8"] {
        width: 66.66%;
    }

    [column="9"],
    [column="small"][small-column="9"],
    [column="medium"][medium-column="9"],
    [column="large"][large-column="9"],
    [column="xlarge"][xlarge-column="9"] {
        width: 75%;
    }

    [column="10"],
    [column="small"][small-column="10"],
    [column="medium"][medium-column="10"],
    [column="large"][large-column="10"],
    [column="xlarge"][xlarge-column="10"] {
        width: 83.33%;
    }

    [column="11"],
    [column="small"][small-column="11"],
    [column="medium"][medium-column="11"],
    [column="large"][large-column="11"],
    [column="xlarge"][xlarge-column="11"] {
        width: 91.66%;
    }

    [column="12"],
    [column="small"][small-column="12"],
    [column="medium"][medium-column="12"],
    [column="large"][large-column="12"],
    [column="xlarge"][xlarge-column="12"] {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199.98px) {
    [element-name="container"][hide-on-large="true"] {
        display: none;
    }

    [large-column="1"],
    [large-column="small"][small-column="1"],
    [large-column="medium"][medium-column="1"],
    [large-column="normal"][column="1"],
    [large-column="xlarge"][xlarge-column="1"] {
        width: 8.33%;
    }

    [large-column="2"],
    [large-column="small"][small-column="2"],
    [large-column="medium"][medium-column="2"],
    [large-column="normal"][column="2"],
    [large-column="xlarge"][xlarge-column="2"] {
        width: 16.66%;
    }

    [large-column="3"],
    [large-column="small"][small-column="3"],
    [large-column="medium"][medium-column="3"],
    [large-column="normal"][column="3"],
    [large-column="xlarge"][xlarge-column="3"] {
        width: 25%;
    }

    [large-column="4"],
    [large-column="small"][small-column="4"],
    [large-column="medium"][medium-column="4"],
    [large-column="normal"][column="4"],
    [large-column="xlarge"][xlarge-column="4"] {
        width: 32.33%;
    }

    [large-column="5"],
    [large-column="small"][small-column="5"],
    [large-column="medium"][medium-column="5"],
    [large-column="normal"][column="5"],
    [large-column="xlarge"][xlarge-column="5"] {
        width: 41.66%;
    }

    [large-column="6"],
    [large-column="small"][small-column="6"],
    [large-column="medium"][medium-column="6"],
    [large-column="normal"][column="6"],
    [large-column="xlarge"][xlarge-column="6"] {
        width: 50%;
    }

    [large-column="7"],
    [large-column="small"][small-column="7"],
    [large-column="medium"][medium-column="7"],
    [large-column="normal"][column="7"],
    [large-column="xlarge"][xlarge-column="7"] {
        width: 58.33%;
    }

    [large-column="8"],
    [large-column="small"][small-column="8"],
    [large-column="medium"][medium-column="8"],
    [large-column="normal"][column="8"],
    [large-column="xlarge"][xlarge-column="8"] {
        width: 66.66%;
    }

    [large-column="9"],
    [large-column="small"][small-column="9"],
    [large-column="medium"][medium-column="9"],
    [large-column="normal"][column="9"],
    [large-column="xlarge"][xlarge-column="9"] {
        width: 75%;
    }

    [large-column="10"],
    [large-column="small"][small-column="10"],
    [large-column="medium"][medium-column="10"],
    [large-column="normal"][column="10"],
    [large-column="xlarge"][xlarge-column="10"] {
        width: 83.33%;
    }

    [large-column="11"],
    [large-column="small"][small-column="11"],
    [large-column="medium"][medium-column="11"],
    [large-column="normal"][column="11"],
    [large-column="xlarge"][xlarge-column="11"] {
        width: 91.66%;
    }

    [large-column="12"],
    [large-column="small"][small-column="12"],
    [large-column="medium"][medium-column="12"],
    [large-column="normal"][column="12"],
    [large-column="xlarge"][xlarge-column="12"] {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    [element-name="container"][hide-on-xlarge="true"] {
        display: none;
    }

    [xlarge-column="1"],
    [xlarge-column="small"][small-column="1"],
    [xlarge-column="medium"][medium-column="1"],
    [xlarge-column="normal"][column="1"],
    [xlarge-column="large"][large-column="1"] {
        width: 8.33%;
    }

    [xlarge-column="2"],
    [xlarge-column="small"][small-column="2"],
    [xlarge-column="medium"][medium-column="2"],
    [xlarge-column="normal"][column="2"],
    [xlarge-column="large"][large-column="2"] {
        width: 16.66%;
    }

    [xlarge-column="3"],
    [xlarge-column="small"][small-column="3"],
    [xlarge-column="medium"][medium-column="3"],
    [xlarge-column="normal"][column="3"],
    [xlarge-column="large"][large-column="3"] {
        width: 25%;
    }

    [xlarge-column="4"],
    [xlarge-column="small"][small-column="4"],
    [xlarge-column="medium"][medium-column="4"],
    [xlarge-column="normal"][column="4"],
    [xlarge-column="large"][large-column="4"] {
        width: 32.33%;
    }

    [xlarge-column="5"],
    [xlarge-column="small"][small-column="5"],
    [xlarge-column="medium"][medium-column="5"],
    [xlarge-column="normal"][column="5"],
    [xlarge-column="large"][large-column="5"] {
        width: 41.66%;
    }

    [xlarge-column="6"],
    [xlarge-column="small"][small-column="6"],
    [xlarge-column="medium"][medium-column="6"],
    [xlarge-column="normal"][column="6"],
    [xlarge-column="large"][large-column="6"] {
        width: 50%;
    }

    [xlarge-column="7"],
    [xlarge-column="small"][small-column="7"],
    [xlarge-column="medium"][medium-column="7"],
    [xlarge-column="normal"][column="7"],
    [xlarge-column="large"][large-column="7"] {
        width: 58.33%;
    }

    [xlarge-column="8"],
    [xlarge-column="small"][small-column="8"],
    [xlarge-column="medium"][medium-column="8"],
    [xlarge-column="normal"][column="8"],
    [xlarge-column="large"][large-column="8"] {
        width: 66.66%;
    }

    [xlarge-column="9"],
    [xlarge-column="small"][small-column="9"],
    [xlarge-column="medium"][medium-column="9"],
    [xlarge-column="normal"][column="9"],
    [xlarge-column="large"][large-column="9"] {
        width: 75%;
    }

    [xlarge-column="10"],
    [xlarge-column="small"][small-column="10"],
    [xlarge-column="medium"][medium-column="10"],
    [xlarge-column="normal"][column="10"],
    [xlarge-column="large"][large-column="10"] {
        width: 83.33%;
    }

    [xlarge-column="11"],
    [xlarge-column="small"][small-column="11"],
    [xlarge-column="medium"][medium-column="11"],
    [xlarge-column="normal"][column="11"],
    [xlarge-column="large"][large-column="11"] {
        width: 91.66%;
    }

    [xlarge-column="12"],
    [xlarge-column="small"][small-column="12"],
    [xlarge-column="medium"][medium-column="12"],
    [xlarge-column="normal"][column="12"],
    [xlarge-column="large"][large-column="12"] {
        width: 100%;
    }
} */

[element-type][element-name][disabled="true"],
[element-type][element-name][disabled="true"] * {
    color: silver;
}

[visible="true"][fixed="true"] {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    display: block;
}

[element-type][element-name][stick="top"] {
    top: 0;
}

[element-type][element-name][stick="bottom"] {
    bottom: 0;
}

[element-type][element-name][visible="false"] {
    display: none;
}

[element-type="Application"][element-name="container"] {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    /* width: 98%; */
    /* text-align: center; */
    font-size: 18px;
}

[element-type][element-name="container"][hide-overflow="true"] {
    overflow: hidden;
}

/* NOTE Application's children*/

[element-type="Application"][element-name="container"],
[element-type="Application"][element-name="container"] * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: box-shadow 50ms;
    -moz-transition: box-shadow 50ms;
    -ms-transition: box-shadow 50ms;
    -o-transition: box-shadow 50ms;
    transition: box-shadow 50ms;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* NOTE Containers and childrens*/

[element-type][element-name="container"],
[element-type][element-name="container"] * {
    max-width: 100%;
    color: #555;
}

[element-type][element-name="container"] * {
    padding: 2px;
}

[element-name="container"] *:focus {
    outline: none;
}

[element-name="container"][align="left"],
[element-name="container"] [align="left"] {
    text-align: left;
}

[element-name="container"][align="right"],
[element-name="container"] [align="right"] {
    text-align: right;
}

[element-name="container"][align="center"],
[element-name="container"] [align="center"] {
    text-align: center;
}

[element-name="container"][float="left"],
[element-name="container"] [float="left"] {
    float: left;
}

[element-name="container"][float="left"]:after,
[element-name="container"] [float="left"]:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

[element-name="container"][float="right"],
[element-name="container"] [float="right"] {
    float: right;
}

[element-name="container"][float="right"]:after,
[element-name="container"] [float="right"]:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

[element-name="container"][float="center"],
[element-name="container"] [float="center"] {
    float: none;
    left: 50%;
    transform: translateX(-50%);
    /* margin-left: auto;
    margin-right: auto; */
}

/* NOTE Control Container*/

[element-type="Container"][element-name="container"] {
    min-height: 150px;
    background-color: #ddd;
    border: solid 1px gray;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

[element-type="Container"][element-name="container"]>[element-type="Container"][element-name="body"] {
    height: 100%;
    width: 100%;
}

/* NOTE Textbox */

[element-type="TextBox"][element-name="container"]>input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 5px;
    font-size: 90%;
}

[element-type="TextBox"][element-name="container"]:not([disabled])>input {
    color: #666;
}

[element-type="TextBox"][element-name="container"]:not([disabled])>input:focus {
    box-shadow: inset 0 -3px 0 #07c;
    color: #333;
}

[element-type="TextBox"][element-name="container"][validity="false"] {
    color: red;
}

[element-type="TextBox"][element-name="container"][validity="false"]:not([disabled])>input:focus {
    box-shadow: inset 0 -3px 0 indianred;
}

[element-type="TextBox"][element-name="container"][validity="false"]:not([disabled])>input {
    box-shadow: 0 0 2px 1px red;
}

/* NOTE Button*/

[element-type="Button"][element-name="container"]>[element-type="Button"][element-name="button"] {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 4px;
    padding: 7px 25px;
}

[element-type="Button"][element-name="container"]:not([disabled])>[element-type="Button"][element-name="button"] {
    background-color: #999;
    cursor: pointer;
    color: #ddd
}

[element-type="Button"][element-name="container"][disabled]>[element-type="Button"][element-name="button"] {
    background-color: #aaa;
    border-color: #888;
    cursor: default;
    color: #ccc
}

[element-type="Button"][element-name="container"][fit-content="false"][visible="true"]>[element-type="Button"][element-name="button"] {
    display: block;
}

[element-type="Button"][element-name="container"][fit-content="true"][float="left"]>[element-type="Button"][element-name="button"] {
    float: left;
}

[element-type="Button"][element-name="container"][fit-content="true"][float="right"]>[element-type="Button"][element-name="button"] {
    float: right;
}

[element-type="Button"][element-name="container"][fit-content="true"][float="center"]>[element-type="Button"][element-name="button"] {
    float: none;
    margin: auto;
}

[element-type="Button"][element-name="container"]>[element-type="Button"][element-name="button"] {
    text-align: center;
}

[element-type="Button"][element-name="container"][default="true"]:not([disabled])>[element-type="Button"][element-name="button"] {
    background-color: #007bff;
}

[element-type="Button"][element-name="container"][default="true"]:not([disabled])>[element-type="Button"][element-name="button"]:hover {
    background-color: #06e;
}

[element-type="Button"][element-name="container"][default="true"][disabled]>[element-type="Button"][element-name="button"] {
    background-color: #0be
}

[element-type="Button"][element-name="container"]:not([disabled])>[element-type="Button"][element-name="button"]:hover {
    background-color: #888;
}

[element-type="Button"][element-name="container"]:not([disabled])>[element-type="Button"][element-name="button"]:focus {
    box-shadow: 0 0 2px 1px dodgerblue, 2px 2px 3px 1px rgba(50, 50, 50, 0.2);
}

[element-type="Label"][element-name="container"][tag="true"]>[element-type="Label"][element-name="text"],
[element-type="Link"][element-name="container"][tag="true"]>[element-type="Link"][element-name="link"] {
    border-top-left-radius: 15% 50%;
    border-bottom-left-radius: 15% 50%;
    border-top-right-radius: 15% 50%;
    border-bottom-right-radius: 15% 50%;
    padding: 7px;
    background-color: #bbb;
}

[element-type="Label"][element-name="container"]>[element-type="Label"][element-name="text"] {
    /* text-align: left; */
    cursor: default;
    width: 100%;
}

[element-type="Link"][element-name="container"]>[element-type="Link"][element-name="link"] {
    text-decoration: none;
    padding-bottom: 3px;
}

[element-type="Link"][element-name="container"]:not([disabled])>[element-type="Link"][element-name="link"] {
    color: #27c;
}

[element-type="Link"][element-name="container"][tag="true"]:not([disabled])>[element-type="Link"][element-name="link"]:hover {
    text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-color: #07c;
}

[element-type="Link"][element-name="container"][tag="false"]:not([disabled])>[element-type="Link"][element-name="link"]:hover {
    box-shadow: inset 0 -2px 0 #07c;
}

[element-type="Link"][element-name="container"][disabled]>[element-type="Link"][element-name="link"] {
    cursor: default;
}

[element-type="ListItem"][element-name="container"] {
    margin: 0;
    padding: 0;
}

[element-type="ListItem"][element-name="container"]>[element-type="ListItem"][element-name="item"] {
    width: 100%;
    /* text-align: left; */
    padding: 7px;
    cursor: pointer;
}

[element-type="ListItem"][element-name="container"][selected="false"]:not([disabled])>[element-type="ListItem"][element-name="item"] {
    background-color: white;
    color: #555;
}

[element-type="ListItem"][element-name="container"]:not([disabled]):focus>[element-type="ListItem"][element-name="item"],
[element-type="ListBox"][element-name="container"]:not([disabled]):focus>[element-name="container"][focused="true"],
[element-type="FilterList"][element-name="container"]:not([disabled]):focus>[element-name="container"][focused="true"],
[element-type="ListBox"][element-name="container"]:not([disabled]):focus>[element-type="ListItem"][element-name="container"][focused="true"]>[element-type="ListItem"][element-name="item"],
[element-type="FilterList"][element-name="container"]:not([disabled]):focus>[element-type="ListItem"][element-name="container"][focused="true"]>[element-type="ListItem"][element-name="item"] {
    box-shadow: inset 0 0 1px 1px #2df;
}

[element-type="ListItem"][element-name="container"][selected][disabled]>[element-type="ListItem"][element-name="item"] {
    background-color: #f5f5f5;
    color: #bbb;
    cursor: default;
}

[element-type="ListItem"][element-name="container"][selected="true"]:not([disabled])>[element-type="ListItem"][element-name="item"] {
    background-color: #007bff;
    color: #eee;
}

[element-type="ListBox"][element-name="container"],
[element-type="FilterList"][element-name="container"] {
    border: solid 1px #555;
    background-color: rgba(200, 200, 200, .75);
    border-radius: 3px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1px;
}

[element-type="FilterList"][element-name="container"]>[element-type="TextBox"][element-name="container"] {
    margin-left: 1px;
    width: 100%;
    margin: auto;
}

[element-type="FilterList"][element-name="container"]>* {
    width: 100%;
    margin: 0;
}

[element-type="FilterList"][element-name="container"] [element-type="TextBox"][element-name="container"]>[element-type="TextBox"][element-name="input"] {
    width: 100%;
    margin: 0;
}

[element-type="FilterList"][element-name="container"][filter="false"] [element-type="TextBox"][element-name="container"] {
    display: none;
}

[element-type="Field"][element-name="container"]>[element-type="TextBox"][element-name="container"]>[element-type="TextBox"][element-name="input"] {
    height: 37px;
    padding-top: 14px;
    border-left: none;
    border-top: none;
    border-right: none;
    background-color: transparent;
}

[element-type="Field"][element-name="container"]>[element-type="Label"][element-name="container"] {
    position: absolute;
    /* text-align: left; */
    width: auto;
}

[element-type="Field"][element-name="container"][visible="true"]>[element-type="Label"][element-name="container"]>[element-type="Label"][element-name="text"] {
    /* position: relative; */
    -webkit-transition: all 50ms ease;
    -moz-transition: all 50ms ease;
    -ms-transition: all 50ms ease;
    -o-transition: all 50ms ease;
    transition: all 500ms ease;
    width: auto;
    display: content;
}

[element-type="Field"][element-name="container"][text=""][focused="true"]>[element-type="Label"][element-name="container"]>[element-type="Label"][element-name="text"],
[element-type="Field"][element-name="container"]:not([text=""])>[element-type="Label"][element-name="container"]>[element-type="Label"][element-name="text"] {
    font-weight: bold;
    left: 5px;
    top: -6px;
    font-size: 80%;
}

[element-type="Field"][element-name="container"][focused="true"]>[element-type="Label"][element-name="container"]>[element-type="Label"][element-name="text"] {
    color: #5ad;
}

[element-type="Field"][element-name="container"][text=""][focused="false"]>[element-type="Label"][element-name="container"]>[element-type="Label"][element-name="text"] {
    color: #aaa;
    left: 10px;
    top: 6px;
    font-size: 110%;
}

[element-type="CheckBox"][element-name="container"],
[element-type="RadioButton"][element-name="container"] {
    cursor: pointer;
    /* text-align: left; */
}

[element-type="CheckBox"][element-name="container"]>[element-type="CheckBox"][element-name="label"],
[element-type="RadioButton"][element-name="container"]>[element-type="RadioButton"][element-name="label"] {
    vertical-align: middle;
}

[element-type="CheckBox"][element-name="container"][disabled]>[element-type="CheckBox"][element-name="label"],
[element-type="RadioButton"][element-name="container"][disabled]>[element-type="RadioButton"][element-name="label"] {
    color: #aaa;
}

[element-type="CheckBox"][element-name="container"]>[element-type="CheckBox"][element-name="check"],
[element-type="RadioButton"][element-name="container"]>[element-type="RadioButton"][element-name="button"] {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    vertical-align: middle;
    /* position: relative; */
}

[element-type="CheckBox"][element-name="container"][disabled]>[element-type="CheckBox"][element-name="check"],
[element-type="RadioButton"][element-name="container"][disabled]>[element-type="RadioButton"][element-name="button"] {
    background-color: #bbb;
}

[element-type="CheckBox"][element-name="container"]:not([disabled])[selected="false"]>[element-type="CheckBox"][element-name="check"],
[element-type="RadioButton"][element-name="container"]:not([disabled])[selected="false"]>[element-type="RadioButton"][element-name="button"] {
    background-color: #bbb;
}

[element-type="CheckBox"][element-name="container"]:not([disabled]):not([selected="false"])>[element-type="CheckBox"][element-name="check"],
[element-type="RadioButton"][element-name="container"]:not([disabled]):not([selected="false"])>[element-type="RadioButton"][element-name="button"] {
    background-color: #007bff;
}

[element-type="CheckBox"][element-name="container"]:not([disabled]):not([selected="false"]):hover>[element-type="CheckBox"][element-name="check"],
[element-type="RadioButton"][element-name="container"]:not([disabled]):not([selected="false"]):hover>[element-type="RadioButton"][element-name="button"] {
    background-color: #05d;
}

[element-type="CheckBox"][element-name="container"]:not([disabled])[selected="false"]:hover>[element-type="CheckBox"][element-name="check"],
[element-type="RadioButton"][element-name="container"]:not([disabled])[selected="false"]:hover>[element-type="RadioButton"][element-name="button"] {
    background-color: #999;
}

[element-type="RadioButton"][element-name="container"]>[element-type="RadioButton"][element-name="button"] {
    border-radius: 50%;
}

[element-type="CheckBox"][element-name="container"]:not([selected="false"])>[element-type="CheckBox"][element-name="check"]::after,
[element-type="RadioButton"][element-name="container"]:not([selected="false"])>[element-type="RadioButton"][element-name="button"]::after {
    content: '';
    position: absolute;
}

[element-type="CheckBox"][element-name="container"][selected="true"]>[element-type="CheckBox"][element-name="check"]::after {
    border-width: 3px;
    left: 3px;
    top: 0;
    width: 14px;
    height: 5px;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: none;
    border-top-style: none;
    transform: rotate(-45deg);
}

[element-type="CheckBox"][element-name="container"][selected="indeterminate"]>[element-type="CheckBox"][element-name="check"]::after {
    border-width: 2px;
    left: 3px;
    top: 6px;
    width: 7px;
    height: 0;
    border-style: solid;
}

[element-type="RadioButton"][element-name="container"][selected="true"]>[element-type="RadioButton"][element-name="button"]::after {
    left: 4px;
    top: 4px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

[element-type="CheckBox"][element-name="container"][disabled]:not([selected="false"])>[element-type="CheckBox"][element-name="check"]::after {
    border-color: #999;
}

[element-type="CheckBox"][element-name="container"]:not([disabled]):not([selected="false"])>[element-type="CheckBox"][element-name="check"]::after,
[element-type="RadioButton"][element-name="container"]:not([disabled]):not([selected="false"])>[element-type="RadioButton"][element-name="button"]::after {
    border-color: #ddd;
}

[element-type="RadioButton"][element-name="container"][disabled]:not([selected="false"])>[element-type="RadioButton"][element-name="button"]::after {
    background-color: #999;
}

[element-type="RadioButton"][element-name="container"]:not([disabled]):not([selected="false"])>[element-type="RadioButton"][element-name="button"]::after {
    background-color: #ddd;
}

[element-type="Spacer"][element-name="container"] {
    height: 0;
    padding: 0;
    margin: 2px auto;
    max-width: 96%;
    cursor: default;
}

[element-type="Spacer"][element-name="container"][horizontal-line="true"] {
    border-style: solid;
    border-color: #999;
    border-width: 1px;
    background-color: #777
}

[element-type="Spacer"][element-name="container"][horizontal-line="true"][vertical="true"][visible="true"] {
    display: inline;
}

[element-type="Spacer"][element-name="container"][horizontal-line="true"][vertical="false"][visible="true"] {
    display: block;
}

[element-type="ComboBox"][element-name="container"] {
    border-style: solid;
    border-width: 1px;
    border-color: #555;
    border-radius: 3px;
    background-color: #eee;
    /* position: relative; */
}

[element-type="ComboBox"][element-name="container"]>[element-type="ListBox"][element-name="container"] {
    z-index: 1002;
}

[element-type="ComboBox"][element-name="container"]>[element-type="Label"][element-name="container"],
[element-type="ComboBox"][element-name="container"]>[element-type="TextBox"][element-name="container"] {
    height: 30px;
    vertical-align: middle;
}

[element-type="ComboBox"][element-name="container"]>[element-type="TextBox"][element-name="container"]>[element-type="TextBox"][element-name="input"] {
    border: none;
    background-color: transparent;
}

[element-type="ComboBox"][element-name="container"]>[element-type="Label"][element-name="container"]>[element-type="Label"][element-name="text"],
[element-type="ComboBox"][element-name="container"]>[element-type="TextBox"][element-name="container"]>[element-type="TextBox"][element-name="input"] {
    float: left;
    line-height: 25px;
    height: 25px;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
}

[element-type="ComboBox"][element-name="container"]>[element-type="Label"][element-name="container"]::after,
[element-type="ComboBox"][element-name="container"]>[element-type="TextBox"][element-name="container"]::after {
    content: '';
    float: right;
    position: relative;
    width: 0;
    height: 0;
    left: -5px;
    top: -14px;
    border-top-color: #555;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-width: 7px;
    border-style: solid;
}

[element-type="ComboBox"][element-name="container"]>[element-type="ListBox"][element-name="container"] {
    position: absolute;
    left: 0;
    top: 35px;
}

[element-type="Header"][element-name="container"] {
    box-shadow: rgba(50, 50, 50, .1) 0 3px 3px 1px;
    margin-top: 0;
    margin-bottom: 1px;
}

[element-type="Footer"][element-name="container"] {
    box-shadow: rgba(50, 50, 50, .1) 0 -3px 3px 1px;
    margin-top: 1px;
    margin-bottom: 0;
}

[element-type="Footer"][element-name="container"],
[element-type="Header"][element-name="container"] {
    width: 100%;
    background-color: rgb(200, 200, 200);
    /* min-height: 25px; */
    border-radius: 2px;
    /* text-align: left; */
}

[element-type="Footer"][element-name="container"][fixed="true"],
[element-type="Header"][element-name="container"][fixed="true"] {
    z-index: 1001;
}

[element-type="Footer"][element-name="container"] [element-type="Label"][element-name="container"]>[element-type="Label"][element-name="text"],
[element-type="Header"][element-name="container"] [element-type="Label"][element-name="container"]>[element-type="Label"][element-name="text"] {
    color: #555;
}

[element-type="Footer"][element-name="container"][fixed="false"],
[element-type="Header"][element-name="container"][fixed="false"] {
    /* position: relative; */
}

[element-type="MainMenu"][element-name="container"] {
    text-align: center;
}

[element-type="MainMenu"][element-name="container"][visible="true"]>[element-type="MenuItem"][element-name="container"] {
    margin: 20px 10px 2px;
    /* position: relative; */
    border-radius: 5px;
}

[element-type="MainMenu"][element-name="container"][visible="true"]>[element-type="MenuItem"][element-name="container"][has-child="true"]::after {
    content: '';
    position: absolute;
    vertical-align: middle;
    margin-left: -20px;
    margin-top: -4px;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-color: transparent;
    border-top-color: #333;
}

[element-type="MainMenu"][element-name="container"][visible="true"]>[element-type="MenuItem"][element-name="container"]>[element-type="Menu"][element-name="container"] {
    left: 0;
    top: 100%;
}

[element-type="Menu"][element-name="container"] {
    position: absolute;
    box-shadow: 0 0 5px 1px rgba(50, 50, 50, .5);
    background-color: #eee;
    margin: 0;
    padding: 0;
    left: 100%;
    top: 0;
    z-index: 1003;
    /* text-align: left; */
}

[element-type="Menu"][element-name="container"][visible="true"]>[element-type="MenuItem"][element-name="container"][has-child="true"]::after {
    content: '';
    position: absolute;
    vertical-align: middle;
    left: 100%;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    border-top-width: 7px;
    border-bottom-width: 7px;
    border-color: transparent;
    transform: translate(-75%, -50%);
    border-left-color: #aaa;
}

[element-type="Menu"][element-name="container"],
[element-type="Menu"][element-name="container"]>[element-type="MenuItem"][element-name="container"] {
    max-width: none;
}

[element-type="MenuItem"][element-name="container"][visible="true"] {
    cursor: pointer;
    /* position: relative; */
}

[element-type="MainMenu"][element-name="container"]>[element-type="MenuItem"][element-name="container"][visible="true"] {
    background-color: #333;
}

[element-type="MainMenu"][element-name="container"]>[element-type="MenuItem"][element-name="container"][visible="true"]:not([disabled]):hover {
    background-color: #444;
}

[element-type="Menu"][element-name="container"]>[element-type="MenuItem"][element-name="container"][visible="true"]:not([disabled]):hover {
    background-color: #ddd;
}

[element-type="MainMenu"][element-name="container"]>[element-type="MenuItem"][element-name="container"][visible="true"]:not([disabled])>[element-type="MenuItem"][element-name="text"] {
    color: #999;
}

[element-type="MainMenu"][element-name="container"]>[element-type="MenuItem"][element-name="container"][visible="true"]:not([disabled]):hover>[element-type="MenuItem"][element-name="text"] {
    color: #ccc;
}

[element-type="Menu"][element-name="container"]>[element-type="MenuItem"][element-name="container"][visible="true"]:not([disabled])>[element-type="MenuItem"][element-name="text"] {
    color: #333;
}

[element-type="Menu"][element-name="container"]>[element-type="MenuItem"][element-name="container"][visible="true"]:not([disabled]):hover>[element-type="MenuItem"][element-name="text"] {
    color: #111;
}

[element-type="Modal"][element-name="coverage"][status="modal"] {
    background-color: rgba(50, 50, 50, 0.85);
}

[element-type="Modal"][element-name="coverage"][status="show"] {
    visibility: hidden;
}

[element-type="Modal"][element-name="coverage"] {
    position: absolute;
    z-index: 9998;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

[element-type="Modal"][element-name="coverage"][status="show"]>[element-type][element-name="container"] {
    visibility: visible;
}

[element-type="Modal"][element-name="coverage"]>[element-type="ModalForm"][element-name="container"] {
    z-index: 1004;
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #ddd;
    max-width: 97vw;
    max-height: 96vh;
    overflow: auto;
    position: sticky;
    margin: 0 auto;
    top: 2%;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 5px 1px rgba(50, 50, .5);
}

[element-type="Modal"][element-name="coverage"]>[element-type="ModalForm"][element-name="container"]>[element-type="Header"][element-name="coverage"],
[element-type="Modal"][element-name="coverage"]>[element-type="ModalForm"][element-name="container"]>[element-type="Footer"][element-name="container"] {
    overflow: hidden;
    max-height: 25%;
}

[element-type][element-name="container"]>[element-type="Button"][element-name="cancel"] {
    position: absolute;
    right: 5px;
    top: 50%;
    width: 25px;
    height: 25px;
    opacity: .35;
    transform: translateY(-50%);
    cursor: pointer;
}

[element-type][element-name="container"]>[element-type="Button"][element-name="cancel"]:before,
[element-type][element-name="container"]>[element-type="Button"][element-name="cancel"]:after {
    position: absolute;
    content: '';
    background-color: #333;
    height: 100%;
    width: 2px;
}

[element-type][element-name="container"]>[element-type="Button"][element-name="cancel"]:after {
    transform: rotate(45deg);
}

[element-type][element-name="container"]>[element-type="Button"][element-name="cancel"]:before {
    transform: rotate(-45deg);
}

[element-type][element-name="container"]>[element-type="Button"][element-name="cancel"]:hover {
    opacity: 1;
}

[element-type="Notification"][element-name="container"] {
    border: 1px solid #999;
    border-radius: 3px;
    padding-top: 7px;
    padding-bottom: 7px;
}

[element-type="Notification"][element-name="container"]>[element-type="Notification"][element-name="message"] {
    color: #333;
}

[element-type="CollapseList"][element-name="container"] {
    /* text-align: left; */
}

[element-type="CollapseList"][element-name="container"]>[element-type="CollapseItem"][element-name="container"]>[element-type="CollapseItem"][element-name="text"] {
    cursor: pointer;
}

[element-type="CollapseList"][element-name="container"]>[element-type="CollapseItem"][element-name="container"][has-child="true"]>[element-type="CollapseList"][element-name="container"] {
    margin-left: 10px;
}

[element-type="CollapseList"][element-name="container"]>[element-type="CollapseItem"][element-name="container"][has-child="true"]>[element-type="CollapseItem"][element-name="text"]::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-70%) rotate(45deg);
    transition: transform ease-in-out 250ms;
    margin-left: 5px;
    border-right: 2px;
    border-bottom: 2px;
    width: 10px;
    height: 10px;
    border-style: solid;
    border-color: #333;
    border-top: none;
    border-left: none;
    opacity: .3;
}

[element-type="CollapseList"][element-name="container"]>[element-type="CollapseItem"][element-name="container"][has-child="true"]>[element-type="CollapseItem"][element-name="text"]:hover::after {
    opacity: 1;
}

[element-type="CollapseList"][element-name="container"]>[element-type="CollapseItem"][element-name="container"][has-child="true"][open-child="true"]>[element-type="CollapseItem"][element-name="text"]::after {
    transform: translateY(-30%) rotate(-135deg);
}

[element-type="Loading"][element-name="container"] {
    z-index: 1005;
    padding: 0;
    margin: 0;
    height: 3px;
    background-color: #000;
    box-shadow: rgba(50, 50, 50, .25) 0 2px 3px 0;
    overflow: hidden;
}

[element-type="Loading"][element-name="container"]>[element-type="Loading"][element-name="bar"] {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    height: 3px;
    background-color: #d11;
}

[element-type="Loading"][element-name="container"][state="determinate"]>[element-type="Loading"][element-name="bar"] {
    transition: width ease-in-out 100ms;
    width: 0%;
}

[element-type="Loading"][element-name="container"][state="indeterminate"]>[element-type="Loading"][element-name="bar"] {
    width: 25%;
    animation-name: progress-indeterminate;
    animation-duration: 3s;
    animation-delay: 100ms;
    animation-iteration-count: infinite;
}

[element-type="DataTable"][element-name="container"],
[element-type="Table"][element-name="container"] {
    border: 1px solid #777;
}

[element-type="DataTable"][element-name="container"]>[element-type="Header"][element-name="container"],
[element-type="Table"][element-name="container"]>[element-type="Header"][element-name="container"] {
    /* text-align: center; */
}

[element-type="DataTable"][element-name="container"][visible="true"]>[element-type="Header"][element-name="container"]>[element-type="Label"][element-name="container"],
[element-type="Table"][element-name="container"][visible="true"]>[element-type="Header"][element-name="container"]>[element-type="Label"][element-name="container"] {
    background-color: rgba(125, 125, 125, .75);
    /* display: table-caption; */
}

[element-type="DataTable"][element-name="container"]>[element-type="Header"][element-name="container"]>[element-type="Label"][element-name="container"]>[element-type="Label"][element-name="text"],
[element-type="Table"][element-name="container"]>[element-type="Header"][element-name="container"]>[element-type="Label"][element-name="container"]>[element-type="Label"][element-name="text"] {
    text-align: center;
    font-weight: bolder;
}

[element-type="DataTable"][element-name="container"]>[element-type="Header"][element-name="container"]>[element-type="TableRow"][element-name="container"]>[element-type="TableCell"][element-name="container"]>[element-type="TableCell"][element-name="text"],
[element-type="Table"][element-name="container"]>[element-type="Header"][element-name="container"]>[element-type="TableRow"][element-name="container"]>[element-type="TableCell"][element-name="container"]>[element-type="TableCell"][element-name="text"] {
    color: #999;
}

[element-type="DataTable"][element-name="container"][visible="true"]>[element-type="Header"][element-name="container"][visible="true"],
[element-type="Table"][element-name="container"][visible="true"]>[element-type="Header"][element-name="container"][visible="true"] {
    /* display: table; */
}

[element-type="DataTable"][element-name="container"][visible="true"]>[element-type="TableBody"][element-name="container"][visible="true"],
[element-type="Table"][element-name="container"][visible="true"]>[element-type="TableBody"][element-name="container"][visible="true"] {
    background-color: #eee;
    display: table;
    table-layout: fixed;
    overflow: auto;
    /* border: 1px solid #777; */
    /* padding: 1px; */
}

[element-type="DataTable"][element-name="container"][visible="true"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]:first-child,
[element-type="Table"][element-name="container"][visible="true"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]:first-child {
    font-weight: bold;
    background-color: #ddd;
}

[element-type="DataTable"][element-name="container"][visible="true"][view-mode="list"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"][visible="true"],
[element-type="Table"][element-name="container"][visible="true"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"][visible="true"] {
    margin: 0;
    display: table-row;
}

[element-type="DataTable"][element-name="container"][visible="true"][view-mode="details"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]:first-child,
[element-type="Table"][element-name="container"][visible="true"][view-mode="details"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]:first-child {
    display: none;
}

[element-type="DataTable"][element-name="container"][visible="true"][view-mode="details"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"],
[element-type="Table"][element-name="container"][visible="true"][view-mode="details"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"] {
    border-bottom: 1px solid #999;
}

[element-type="DataTable"][element-name="container"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]:hover,
[element-type="Table"][element-name="container"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]:hover {
    background-color: rgba(175, 175, 175, .25);
}

[element-type="DataTable"][element-name="container"][visible="true"][view-mode="list"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]>[element-type="TableCell"][element-name="container"][visible="true"],
[element-type="Table"][element-name="container"][visible="true"][view-mode="list"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]>[element-type="TableCell"][element-name="container"][visible="true"] {
    margin: 0;
    border: 1px solid #999;
    display: table-cell;
    overflow-wrap: break-word;
}

[element-type="DataTable"][element-name="container"][visible="true"][view-mode="details"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]>[element-type="TableCell"][element-name="container"][visible="true"],
[element-type="Table"][element-name="container"][visible="true"][view-mode="details"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]>[element-type="TableCell"][element-name="container"][visible="true"] {
    font-weight: bold;
}

[element-type="DataTable"][element-name="container"][visible="true"][view-mode="details"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]>[element-type="TableCell"][element-name="container"][visible="true"]>[element-type="TableCell"][element-name="text"],
[element-type="Table"][element-name="container"][visible="true"][view-mode="details"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]>[element-type="TableCell"][element-name="container"][visible="true"]>[element-type="TableCell"][element-name="text"] {
    font-weight: normal;
}

[element-type="DataTable"][element-name="container"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]>[element-type="TableCell"][element-name="container"][hover="true"],
[element-type="Table"][element-name="container"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]>[element-type="TableCell"][element-name="container"][hover="true"] {
    background-color: rgba(175, 175, 175, .25);
}