.dark[disabled="true"],
.dark[disabled="true"] * {
    color: #ccc;
}

.dark[element-type="Application"][element-name="container"] {
    background-color: gray;
    color: black;
}

.dark[element-type="Container"][element-name="container"] {
    background-color: darkgray;
    border-color: #555;
}

.dark[element-type="TextBox"][element-name="container"]>input {
    background-color: #888;
    color: #ddd;
}

.dark[element-type="Button"][element-name="container"]:not([disabled])>[element-type="Button"][element-name="button"] {
    background-color: #777;
    color: #ccc;
}

.dark[element-type="Button"][element-name="container"][disabled]>[element-type="Button"][element-name="button"] {
    background-color: #999;
    color: #777;
}

.dark[element-type="Button"][element-name="container"]:not([disabled])>[element-type="Button"][element-name="button"]:hover {
    background-color: #888;
}

.dark[element-type="Button"][element-name="container"][default="true"]:not([disabled])>[element-type="Button"][element-name="button"] {
    background-color: #06b;
    color: #ccc;
}

.dark[element-type="Button"][element-name="container"][default="true"][disabled]>[element-type="Button"][element-name="button"] {
    background-color: #07c;
    /*color: #ccc;*/
}

.dark[element-type="Button"][element-name="container"][default="true"]:not([disabled])>[element-type="Button"][element-name="button"]:hover {
    background-color: #08e;
}

.dark[element-type="Label"][element-name="container"][tag="true"]>[element-type="Label"][element-name="label"],
.dark[element-type="Link"][element-name="container"][tag="true"]>[element-type="Link"][element-name="link"] {
    background-color: #999;
}

.dark[element-type="Link"][element-name="container"]:not([disabled])>[element-type="Link"][element-name="link"] {
    color: #16b;
}

.dark[element-type="ListItem"][element-name="container"][selected="false"]:not([disabled])>[element-type="ListItem"][element-name="item"] {
    background-color: #888;
    color: #ccc;
}

[element-type="ListItem"][element-name="container"]:not([disabled]):focus>[element-type="ListItem"][element-name="item"] {
    box-shadow: inset 0 0 2px 1px #0ad;
}

.dark[element-type="ListItem"][element-name="container"][selected][disabled]>[element-type="ListItem"][element-name="item"] {
    background-color: #858585;
    color: #999;
}

.dark[element-type="ListItem"][element-name="container"][selected="true"]:not([disabled])>[element-type="ListItem"][element-name="item"] {
    background-color: #05a;
    color: #ddd;
}

.dark[element-type="ListBox"][element-name="container"] {
    border-color: #999;
}

.dark[element-type="Field"][element-name="container"][focused="false"]>[element-type="Label"][element-name="container"]>[element-type="Label"][element-name="label"] {
    color: #555;
}

.dark[element-type="Field"][element-name="container"][focused="true"]>[element-type="Label"][element-name="container"]>[element-type="Label"][element-name="label"] {
    color: #07c;
}

.dark[element-type="CheckBox"][element-name="container"][disabled]>[element-type="CheckBox"][element-name="label"] {
    color: #888;
}

.dark[element-type="ComboBox"][element-name="container"] {
    background-color: #858585;
}

.dark[element-type="Footer"][element-name="container"]>,
.dark[element-type="Header"][element-name="container"]> {
    background-color: rgba(75, 75, 75, .9);
}

.dark[element-type="Menu"][element-name="container"] {
    background-color: #333;
}

.dark[element-type="Menu"][element-name="container"]>[element-type="MenuItem"][element-name="container"][visible="true"]:not([disabled]):hover {
    background-color: #444;
}

.dark[element-type="Menu"][element-name="container"]>[element-type="MenuItem"][element-name="container"][visible="true"]:not([disabled])>[element-type="MenuItem"][element-name="text"] {
    color: #999;
}

.dark[element-type="Menu"][element-name="container"]>[element-type="MenuItem"][element-name="container"][visible="true"]:not([disabled]):hover>[element-type="MenuItem"][element-name="text"] {
    color: #ccc;
}

.dark[element-type="Modal"][element-name="coverage"]>[element-type="ModalForm"][element-name="container"] {
    border-color: #333;
    background-color: #999;
}

.dark[element-type="Table"][element-name="container"]>[element-type="TableBody"][element-name="container"][visible="true"] {
    background-color: #999;
    border: 1px solid #555;
}

.dark[element-type="Table"][element-name="container"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]>[element-type="TableCell"][element-name="container"] {
    border: 1px solid #555;
}

.dark[element-type="Table"][element-name="container"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]>[element-type="TableCell"][element-name="container"]>[element-type="TableCell"][element-name="text"] {
    color: #ddd;
}

.dark[element-type="Table"][element-name="container"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]:hover {
    background-color: rgba(225, 225, 225, .25);
}

.dark[element-type="Table"][element-name="container"]>[element-type="TableBody"][element-name="container"]>[element-type="TableRow"][element-name="container"]>[element-type="TableCell"][element-name="container"][hover="true"] {
    background-color: rgba(225, 225, 225, .25);
}