div.code,
pre.code {
  margin: 10px !important;
  padding: 10px !important;
  border: 1px solid gray;
  border-radius: 3px;
  background-color: silver;
  overflow-x: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 5px;
}

br {
  display: block !important;
}