[data-element-type="Button"][data-element-name="container"] {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  /* width: auto; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: var(--border-width) solid;
  padding: var(--padding-v) var(--padding-h);
  margin-top: var(--margin-v);
  margin-bottom: var(--margin-v);
  border-radius: var(--border-radius);
}

[data-element-type="Button"][data-element-name="container"]:not([data-disabled="true"]):active {
  outline: 3px solid
    hsla(
      var(--situation-default-h),
      var(--situation-default-s),
      var(--situation-default-l),
      25%
    );
}
