[data-element-type][data-element-name="container"][data-closable="true"] {
  position: relative;
}

[data-element-type][data-element-name="container"][data-closable="true"]
  > [data-element-type="CancelButton"][data-element-name="cancel-button"] {
  position: absolute;
  right: 5px;
  top: 50%;
  width: 25px;
  height: 15px;
  opacity: 0.35;
  transform: translateY(-50%);
  cursor: pointer;
}

[data-element-type][data-element-name="container"][data-closable="true"]
  > [data-element-type="CancelButton"][data-element-name="cancel-button"]:before,
[data-element-type][data-element-name="container"][data-closable="true"]
  > [data-element-type="CancelButton"][data-element-name="cancel-button"]:after {
  position: absolute;
  content: "";
  background-color: #333;
  height: 100%;
  width: 2px;
  left: 10px;
  top: -1px;
}

[data-element-type][data-element-name="container"][data-closable="true"]
  > [data-element-type="CancelButton"][data-element-name="cancel-button"]:after {
  transform: rotate(45deg);
}

[data-element-type][data-element-name="container"][data-closable="true"]
  > [data-element-type="CancelButton"][data-element-name="cancel-button"]:before {
  transform: rotate(-45deg);
}

[data-element-type][data-element-name="container"][data-closable="true"]
  > [data-element-type="CancelButton"][data-element-name="cancel-button"]:hover {
  opacity: 1;
}
