[data-element-type="Checkbox"][data-element-name="container"]:not([data-disabled]),
[data-element-type="RadioButton"][data-element-name="container"]:not([data-disabled]) {
  cursor: pointer;
}

[data-element-type="Checkbox"][data-element-name="container"],
[data-element-type="RadioButton"][data-element-name="container"] {
  margin: var(--margin-v) var(--margin-h);
  padding: var(--padding-v) var(--padding-h);
  border-radius: var(--border-radius);
}

[data-element-type="Checkbox"][data-element-name="container"]>[data-element-type="Checkbox"][data-element-name="text"],
[data-element-type="RadioButton"][data-element-name="container"]>[data-element-type="RadioButton"][data-element-name="text"] {
  vertical-align: middle;
}

[data-element-type="Checkbox"][data-element-name="container"][data-element-situation="disable"]>[data-element-type="Checkbox"][data-element-name="text"],
[data-element-type="RadioButton"][data-element-name="container"][data-element-situation="disable"]>[data-element-type="RadioButton"][data-element-name="text"] {
  /* color: #aaa; */
}

[data-element-type="Checkbox"][data-element-name="container"]>[data-element-type="Checkbox"][data-element-name="check"],
[data-element-type="RadioButton"][data-element-name="container"]>[data-element-type="RadioButton"][data-element-name="button"] {
  width: 18px;
  height: 18px;
  padding-right: 5px;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--border-radius);
  position: relative;
}

[data-element-type="Checkbox"][data-element-name="container"]>[data-element-type="Checkbox"][data-element-name="text"],
[data-element-type="RadioButton"][data-element-name="container"]>[data-element-type="RadioButton"][data-element-name="text"] {
  padding-left: 5px;
}

[data-element-type="Checkbox"][data-element-name="container"][data-element-situation="disable"]>[data-element-type="Checkbox"][data-element-name="check"],
[data-element-type="RadioButton"][data-element-name="container"][data-element-situation="disable"]>[data-element-type="RadioButton"][data-element-name="button"] {
  /* background-color: #bbb; */
}

[data-element-type="Checkbox"][data-element-name="container"]>[data-element-type="Checkbox"][data-element-name="check"] {
  display: inline-block;
}

[data-element-type="Checkbox"][data-element-name="container"]>[data-element-type="Checkbox"][data-element-name="text"] {
  display: inline-block;
}

[data-element-type="Checkbox"][data-element-name="container"]:not([data-element-situation="disable"])[data-selected="false"]>[data-element-type="Checkbox"][data-element-name="check"],
[data-element-type="RadioButton"][data-element-name="container"]:not([data-element-situation="disable"])[data-selected="false"]>[data-element-type="RadioButton"][data-element-name="button"] {
  /* background-color: #bbb; */
}

[data-element-type="Checkbox"][data-element-name="container"]:not([data-element-situation="disable"]):not([data-selected="false"])>[data-element-type="Checkbox"][data-element-name="check"],
[data-element-type="RadioButton"][data-element-name="container"]:not([data-element-situation="disable"]):not([data-selected="false"])>[data-element-type="RadioButton"][data-element-name="button"] {
  /* background-color: #007bff; */
}

[data-element-type="Checkbox"][data-element-name="container"]:not([data-element-situation="disable"]):not([data-selected="false"]):hover>[data-element-type="Checkbox"][data-element-name="check"],
[data-element-type="RadioButton"][data-element-name="container"]:not([data-element-situation="disable"]):not([data-selected="false"]):hover>[data-element-type="RadioButton"][data-element-name="button"] {
  /* background-color: #05d; */
}

[data-element-type="Checkbox"][data-element-name="container"]:not([data-element-situation="disable"])[data-selected="false"]:hover>[data-element-type="Checkbox"][data-element-name="check"],
[data-element-type="RadioButton"][data-element-name="container"]:not([data-element-situation="disable"])[data-selected="false"]:hover>[data-element-type="RadioButton"][data-element-name="button"] {
  /* background-color: #999; */
}

[data-element-type="RadioButton"][data-element-name="container"]>[data-element-type="RadioButton"][data-element-name="button"] {
  border-radius: 50%;
}

[data-element-type="Checkbox"][data-element-name="container"]:not([data-selected="false"])>[data-element-type="Checkbox"][data-element-name="check"]::after,
[data-element-type="RadioButton"][data-element-name="container"]:not([data-selected="false"])>[data-element-type="RadioButton"][data-element-name="button"]::after {
  content: '';
  position: absolute;
}

[data-element-type="Checkbox"][data-element-name="container"][data-selected="true"]>[data-element-type="Checkbox"][data-element-name="check"]::after {
  border-width: 3px;
  left: 1px;
  top: 2px;
  width: 15px;
  height: 8px;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: none;
  border-top-style: none;
  transform: rotate(-45deg);
}

[data-element-type="Checkbox"][data-element-name="container"][data-selected="indeterminate"]>[data-element-type="Checkbox"][data-element-name="check"]::after {
  border-width: 2px;
  left: 1px;
  top: 6px;
  width: 14px;
  height: 0;
  border-style: solid;
}

[data-element-type="RadioButton"][data-element-name="container"][data-selected="true"]>[data-element-type="RadioButton"][data-element-name="button"]::after {
  left: 1px;
  top: 1px;
  /* width: 9px;
    height: 9px; */
  border-radius: 50%;
  border-width: 7px;
  border-style: solid;
}

[data-element-type="Checkbox"][data-element-name="container"][data-element-situation="disable"]:not([data-selected="false"])>[data-element-type="Checkbox"][data-element-name="check"]::after {
  /* border-color: #999; */
}

[data-element-type="Checkbox"][data-element-name="container"]:not([data-element-situation="disable"]):not([data-selected="false"])>[data-element-type="Checkbox"][data-element-name="check"]::after,
[data-element-type="RadioButton"][data-element-name="container"]:not([data-element-situation="disable"]):not([data-selected="false"])>[data-element-type="RadioButton"][data-element-name="button"]::after {
  border-color: #05d;
  /* border-color: #ddd; */
}

[data-element-type="RadioButton"][data-element-name="container"][data-element-situation="disable"]:not([data-selected="false"])>[data-element-type="RadioButton"][data-element-name="button"]::after {
  /* background-color: #999; */
}

[data-element-type="RadioButton"][data-element-name="container"]:not([data-element-situation="disable"]):not([data-selected="false"])>[data-element-type="RadioButton"][data-element-name="button"]::after {
  /* background-color: #ddd; */
}
