html,
body {
  font-family: var(--font-family-sans-serif), var(--font-family-monospace);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  margin: 0;
}

* {
  font-family: inherit;
  font-size: 100%;
  font-weight: 100%;

  transition-property: var(--general-transition-properties);
  transition-duration: var(--general-transition-duration);
  transition-timing-function: var(--general-transition-function);
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 240%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 160%;
}

h4 {
  font-size: 120%;
}

h5 {
  font-size: 95%;
}

h6 {
  font-size: 80%;
}

[element-type][element-name][element-hoverable="true"]:not([disabled="true"]) {
  cursor: pointer;
}

[element-type][element-name][visible="false"] {
  display: none;
}
