[data-element-type][data-element-name][data-element-situation=""]:not([disabled="true"]) {
  color: hsl(
    var(--situation-none-h),
    var(--situation-none-s),
    calc(var(--situation-none-l) - var(--most))
  );
  background-color: hsl(
    var(--situation-none-h),
    var(--situation-none-s),
    var(--situation-none-l)
  );
  border-color: hsl(
    var(--situation-none-h),
    var(--situation-none-s),
    calc(var(--situation-none-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation=""][disabled="true"] {
  color: hsl(
    var(--situation-none-h),
    calc(var(--situation-none-s) + var(--disable-s)),
    calc(var(--situation-none-l) - var(--most) + var(--disable-l))
  );
  background-color: hsl(
    var(--situation-none-h),
    calc(var(--situation-none-s) + var(--disable-s)),
    calc(var(--situation-none-l) - var(--more))
  );
  border-color: hsl(
    var(--situation-none-h),
    calc(var(--situation-none-s) + var(--disable-s)),
    calc(var(--situation-none-l) + var(--more) - var(--disable-l))
  );
}

[data-element-type][data-element-name][data-element-situation=""]:not([disabled="true"])[data-element-hoverable="true"]:hover {
  background-color: hsl(
    var(--situation-none-h),
    var(--situation-none-s),
    calc(var(--situation-none-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="default"]:not([disabled="true"]) {
  color: hsl(
    var(--situation-default-h),
    var(--situation-default-s),
    calc(var(--situation-default-l) + var(--most))
  );
  background-color: hsl(
    var(--situation-default-h),
    var(--situation-default-s),
    var(--situation-default-l)
  );
  border-color: hsl(
    var(--situation-default-h),
    var(--situation-default-s),
    calc(var(--situation-default-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="default"][disabled="true"] {
  color: hsl(
    var(--situation-default-h),
    calc(var(--situation-default-s) + var(--disable-s)),
    calc(var(--situation-default-l) + var(--most) + var(--disable-l))
  );
  background-color: hsla(
    var(--situation-default-h),
    calc(var(--situation-default-s) + var(--disable-s)),
    calc(var(--situation-default-l) + var(--disable-l)),
    75%
  );
  border-color: hsl(
    var(--situation-default-h),
    calc(var(--situation-default-s) + var(--disable-s)),
    calc(var(--situation-default-l) + var(--more) + var(--disable-l))
  );
}

[data-element-type][data-element-name][data-element-situation="default"]:not([disabled="true"])[data-element-hoverable="true"]:hover {
  background-color: hsl(
    var(--situation-default-h),
    var(--situation-default-s),
    calc(var(--situation-default-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="title"]:not([disabled="true"]) {
  color: hsl(
    var(--situation-title-h),
    var(--situation-title-s),
    calc(var(--situation-title-l) + var(--most))
  );
  background-color: hsl(
    var(--situation-title-h),
    var(--situation-title-s),
    var(--situation-title-l)
  );
  border-color: hsl(
    var(--situation-title-h),
    var(--situation-title-s),
    calc(var(--situation-title-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="title"][disabled="true"] {
  color: hsl(
    var(--situation-title-h),
    calc(var(--situation-title-s) + var(--disable-s)),
    calc(var(--situation-title-l) + var(--most) + var(--disable-l))
  );
  background-color: hsla(
    var(--situation-title-h),
    calc(var(--situation-title-s) + var(--disable-s)),
    calc(var(--situation-title-l) + var(--disable-l)),
    75%
  );
  border-color: hsl(
    var(--situation-title-h),
    calc(var(--situation-title-s) + var(--disable-s)),
    calc(var(--situation-title-l) + var(--more) + var(--disable-l))
  );
}

[data-element-type][data-element-name][data-element-situation="title"]:not([disabled="true"])[data-element-hoverable="true"]:hover {
  background-color: hsl(
    var(--situation-title-h),
    var(--situation-title-s),
    calc(var(--situation-title-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="info"]:not([disabled="true"]) {
  color: hsl(
    var(--situation-info-h),
    var(--situation-info-s),
    calc(var(--situation-info-l) + var(--most))
  );
  background-color: hsl(
    var(--situation-info-h),
    var(--situation-info-s),
    var(--situation-info-l)
  );
  border-color: hsl(
    var(--situation-info-h),
    var(--situation-info-s),
    calc(var(--situation-info-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="info"][disabled="true"] {
  color: hsl(
    var(--situation-info-h),
    calc(var(--situation-info-s) + var(--disable-s)),
    calc(var(--situation-info-l) + var(--most) + var(--disable-l))
  );
  background-color: hsla(
    var(--situation-info-h),
    calc(var(--situation-info-s) + var(--disable-s)),
    calc(var(--situation-info-l) + var(--disable-l)),
    75%
  );
  border-color: hsl(
    var(--situation-info-h),
    calc(var(--situation-info-s) + var(--disable-s)),
    calc(var(--situation-info-l) - var(--more) + var(--disable-l))
  );
}

[data-element-type][data-element-name][data-element-situation="info"]:not([disabled="true"])[data-element-hoverable="true"]:hover {
  background-color: hsl(
    var(--situation-info-h),
    var(--situation-info-s),
    calc(var(--situation-info-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="opposite"]:not([disabled="true"]) {
  color: hsl(
    var(--situation-opposite-h),
    var(--situation-opposite-s),
    calc(var(--situation-opposite-l) + var(--most))
  );
  background-color: hsl(
    var(--situation-opposite-h),
    var(--situation-opposite-s),
    var(--situation-opposite-l)
  );
  border-color: hsl(
    var(--situation-opposite-h),
    var(--situation-opposite-s),
    calc(var(--situation-opposite-l) + var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="opposite"][disabled="true"] {
  color: hsl(
    var(--situation-opposite-h),
    calc(var(--situation-opposite-s) + var(--disable-s)),
    calc(var(--situation-opposite-l) + var(--most) + var(--disable-l))
  );
  background-color: hsla(
    var(--situation-opposite-h),
    calc(var(--situation-opposite-s) + var(--disable-s)),
    calc(var(--situation-opposite-l) + var(--disable-l)),
    75%
  );
  border-color: hsl(
    var(--situation-opposite-h),
    calc(var(--situation-opposite-s) + var(--disable-s)),
    calc(var(--situation-opposite-l) - var(--more) + var(--disable-l))
  );
}

[data-element-type][data-element-name][data-element-situation="opposite"]:not([disabled="true"])[data-element-hoverable="true"]:hover {
  background-color: hsl(
    var(--situation-opposite-h),
    var(--situation-opposite-s),
    calc(var(--situation-opposite-l) + var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="warning"]:not([disabled="true"]) {
  color: hsl(
    var(--situation-warning-h),
    var(--situation-warning-s),
    calc(var(--situation-warning-l) + var(--most))
  );
  background-color: hsl(
    var(--situation-warning-h),
    var(--situation-warning-s),
    var(--situation-warning-l)
  );
  border-color: hsl(
    var(--situation-warning-h),
    var(--situation-warning-s),
    calc(var(--situation-warning-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="warning"][disabled="true"] {
  color: hsl(
    var(--situation-warning-h),
    calc(var(--situation-warning-s) + var(--disable-s)),
    calc(var(--situation-warning-l) + var(--most) + var(--disable-l))
  );
  background-color: hsla(
    var(--situation-warning-h),
    calc(var(--situation-warning-s) + var(--disable-s)),
    calc(var(--situation-warning-l) + var(--disable-l)),
    75%
  );
  border-color: hsl(
    var(--situation-warning-h),
    calc(var(--situation-warning-s) + var(--disable-s)),
    calc(var(--situation-warning-l) - var(--more) + var(--disable-l))
  );
}

[data-element-type][data-element-name][data-element-situation="warning"]:not([disabled="true"])[data-element-hoverable="true"]:hover {
  background-color: hsl(
    var(--situation-warning-h),
    var(--situation-warning-s),
    calc(var(--situation-warning-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="error"]:not([disabled="true"]) {
  color: hsl(
    var(--situation-error-h),
    var(--situation-error-s),
    calc(var(--situation-error-l) + var(--most))
  );
  background-color: hsl(
    var(--situation-error-h),
    var(--situation-error-s),
    var(--situation-error-l)
  );
  border-color: hsl(
    var(--situation-error-h),
    var(--situation-error-s),
    calc(var(--situation-error-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="error"][disabled="true"] {
  color: hsl(
    var(--situation-error-h),
    calc(var(--situation-error-s) + var(--disable-s)),
    calc(var(--situation-error-l) + var(--most) + var(--disable-l))
  );
  background-color: hsla(
    var(--situation-error-h),
    calc(var(--situation-error-s) + var(--disable-s)),
    calc(var(--situation-error-l) + var(--disable-l)),
    75%
  );
  border-color: hsl(
    var(--situation-error-h),
    calc(var(--situation-error-s) + var(--disable-s)),
    calc(var(--situation-error-l) - var(--more) + var(--disable-l))
  );
}

[data-element-type][data-element-name][data-element-situation="error"]:not([disabled="true"])[data-element-hoverable="true"]:hover {
  background-color: hsl(
    var(--situation-error-h),
    var(--situation-error-s),
    calc(var(--situation-error-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="ok"]:not([disabled="true"]) {
  color: hsl(
    var(--situation-ok-h),
    var(--situation-ok-s),
    calc(var(--situation-ok-l) + var(--most))
  );
  background-color: hsl(
    var(--situation-ok-h),
    var(--situation-ok-s),
    var(--situation-ok-l)
  );
  border-color: hsl(
    var(--situation-ok-h),
    var(--situation-ok-s),
    calc(var(--situation-ok-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="ok"][disabled="true"] {
  color: hsl(
    var(--situation-ok-h),
    calc(var(--situation-ok-s) + var(--disable-s)),
    calc(var(--situation-ok-l) + var(--most) + var(--disable-l))
  );
  background-color: hsla(
    var(--situation-ok-h),
    calc(var(--situation-ok-s) + var(--disable-s)),
    calc(var(--situation-ok-l) + var(--disable-l)),
    75%
  );
  border-color: hsl(
    var(--situation-ok-h),
    calc(var(--situation-ok-s) + var(--disable-s)),
    calc(var(--situation-ok-l) - var(--more) + var(--disable-l))
  );
}

[data-element-type][data-element-name][data-element-situation="ok"]:not([disabled="true"])[data-element-hoverable="true"]:hover {
  background-color: hsl(
    var(--situation-ok-h),
    var(--situation-ok-s),
    calc(var(--situation-ok-l) - var(--more))
  );
}

[data-element-type][data-element-name][data-element-situation="transparent"]:not([disabled="true"]) {
  color: hsl(
    var(--situation-none-h),
    var(--situation-none-s),
    calc(var(--situation-none-l) - var(--most))
  );
  background-color: transparent;
  border-color: transparent;
}

[data-element-type][data-element-name][data-element-situation="transparent"][disabled="true"] {
  color: hsl(
    var(--situation-none-h),
    calc(var(--situation-none-s) + var(--disable-s)),
    calc(var(--situation-none-l) - var(--most) + var(--disable-l))
  );
  background-color: transparent;
  border-color: transparent;
}

[data-element-type][data-element-name][data-element-situation="transparent"]:not([disabled="true"])[data-element-hoverable="true"]:hover {
  color: hsl(
    var(--situation-none-h),
    var(--situation-none-s),
    calc(var(--situation-none-l) - var(--most))
  );
  background-color: hsla(
    var(--situation-none-h),
    calc(var(--situation-none-s) + var(--disable-s)),
    calc(var(--situation-none-l) - var(--more)),
    25%
  );
  border-color: hsla(
    var(--situation-none-h),
    calc(var(--situation-none-s) + var(--disable-s)),
    calc(var(--situation-none-l) + var(--more) - var(--disable-l)),
    20%
  );
}


/* Notification's Situations */
[data-element-type="Notification"][data-element-name="container"][data-element-situation=""]:not([disabled="true"]) {
  color: hsl(
    var(--situation-none-h),
    var(--situation-none-s),
    calc(var(--situation-none-l) - var(--most))
  );
}

[data-element-type="Notification"][data-element-name="container"][data-element-situation="default"]:not([disabled="true"]) {
  background-color: hsla(
    var(--situation-default-h),
    var(--situation-default-s),
    calc(var(--situation-default-l) + var(--much)),
    75%
  );
  border-color: hsl(
    var(--situation-default-h),
    var(--situation-default-s),
    calc(var(--situation-default-l) + var(--more))
  );
  color: hsl(
    var(--situation-default-h),
    var(--situation-default-s),
    calc(var(--situation-default-l) - var(--much))
  );
}

[data-element-type="Notification"][data-element-name="container"][data-element-situation="title"]:not([disabled="true"]) {
  background-color: hsla(
    var(--situation-title-h),
    var(--situation-title-s),
    calc(var(--situation-title-l) + var(--much)),
    85%
  );
  border-color: hsl(
    var(--situation-title-h),
    var(--situation-title-s),
    calc(var(--situation-title-l) + var(--more))
  );
  color: hsl(
    var(--situation-title-h),
    var(--situation-title-s),
    calc(var(--situation-title-l) - var(--much))
  );
}

[data-element-type="Notification"][data-element-name="container"][data-element-situation="info"]:not([disabled="true"]) {
  background-color: hsla(
    var(--situation-info-h),
    var(--situation-info-s),
    calc(var(--situation-info-l) + var(--much)),
    85%
  );
  border-color: hsl(
    var(--situation-info-h),
    var(--situation-info-s),
    calc(var(--situation-info-l) + var(--more))
  );
  color: hsl(
    var(--situation-info-h),
    var(--situation-info-s),
    calc(var(--situation-info-l) - var(--much))
  );
}

[data-element-type="Notification"][data-element-name="container"][data-element-situation="opposite"]:not([disabled="true"]) {
  background-color: hsla(
    var(--situation-opposite-h),
    var(--situation-opposite-s),
    calc(var(--situation-opposite-l) + var(--much)),
    85%
  );
  border-color: hsl(
    var(--situation-opposite-h),
    var(--situation-opposite-s),
    calc(var(--situation-opposite-l) + var(--more))
  );
  color: hsl(
    var(--situation-opposite-h),
    var(--situation-opposite-s),
    calc(var(--situation-opposite-l) - var(--much))
  );
}

[data-element-type="Notification"][data-element-name="container"][data-element-situation="warning"]:not([disabled="true"]) {
  background-color: hsla(
    var(--situation-warning-h),
    var(--situation-warning-s),
    calc(var(--situation-warning-l) + var(--much)),
    85%
  );
  border-color: hsl(
    var(--situation-warning-h),
    var(--situation-warning-s),
    calc(var(--situation-warning-l) + var(--more))
  );
  color: hsl(
    var(--situation-warning-h),
    var(--situation-warning-s),
    calc(var(--situation-warning-l) - var(--much))
  );
}

[data-element-type="Notification"][data-element-name="container"][data-element-situation="error"]:not([disabled="true"]) {
  background-color: hsla(
    var(--situation-error-h),
    var(--situation-error-s),
    calc(var(--situation-error-l) + var(--much)),
    85%
  );
  border-color: hsl(
    var(--situation-error-h),
    var(--situation-error-s),
    calc(var(--situation-error-l) + var(--more))
  );
  color: hsl(
    var(--situation-error-h),
    var(--situation-error-s),
    calc(var(--situation-error-l) - var(--much))
  );
}

[data-element-type="Notification"][data-element-name="container"][data-element-situation="ok"]:not([disabled="true"]) {
  background-color: hsla(
    var(--situation-ok-h),
    var(--situation-ok-s),
    calc(var(--situation-ok-l) + var(--much)),
    85%
  );
  border-color: hsl(
    var(--situation-ok-h),
    var(--situation-ok-s),
    calc(var(--situation-ok-l) + var(--more))
  );
  color: hsl(
    var(--situation-ok-h),
    var(--situation-ok-s),
    calc(var(--situation-ok-l) - var(--much))
  );
}
