/* :root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;

  --situation-none-h: 210;
  --situation-none-s: 17%;
  --situation-none-l: 98%;

  --situation-default-h: 211;
  --situation-default-s: 100%;
  --situation-default-l: 50%;

  --situation-title-h: 208;
  --situation-title-s: 7%;
  --situation-title-l: 46%;

  --situation-info-h: 188;
  --situation-info-s: 78%;
  --situation-info-l: 41%;

  --situation-opposite-h: 210;
  --situation-opposite-s: 10%;
  --situation-opposite-l: 30%;

  --situation-warning-h: 45;
  --situation-warning-s: 100%;
  --situation-warning-l: 51%;

  --situation-error-h: 354;
  --situation-error-s: 70%;
  --situation-error-l: 54%;

  --situation-ok-h: 134;
  --situation-ok-s: 61%;
  --situation-ok-l: 41%;

  --dark: -5%;
  --light: 5%;
  --darker: -25%;
  --lighter: 25%;
  --darkest: -75%;
  --lightest: 75%;

  --disable-s: -50%;
  --disable-l: 25%;

  --border-radius: 4px;

  --padding-v: 5px;
  --padding-h: 10px;

  --margin-v: 10px;
  --margin-h: 0;

  --font-size: 15px;
  --font-weight: 400;
  --line-height: 23px;
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
} */

:root {
  --situation-none-h: 210;
  --situation-none-s: 17%;
  --situation-none-l: 98%;

  --situation-default-h: 210;
  --situation-default-s: 100%;
  --situation-default-l: 50%;

  --situation-title-h: 210;
  --situation-title-s: 10%;
  --situation-title-l: 50%;

  --situation-info-h: 190;
  --situation-info-s: 80%;
  --situation-info-l: 40%;

  --situation-opposite-h: 210;
  --situation-opposite-s: 10%;
  --situation-opposite-l: 30%;

  --situation-warning-h: 45;
  --situation-warning-s: 100%;
  --situation-warning-l: 51%;

  --situation-error-h: 355;
  --situation-error-s: 70%;
  --situation-error-l: 55%;

  --situation-ok-h: 135;
  --situation-ok-s: 70%;
  --situation-ok-l: 40%;

  --more: 8%;
  --much: 25%;
  --most: 45%;

  --disable-s: -50%;
  --disable-l: 25%;

  --border-radius: 3px;
  --border-width: 1px;

  --padding-v: 8px;
  --padding-h: 15px;

  --margin-v: 10px;
  --margin-h: 0;

  --font-size: 15px;
  --font-weight: 400;
  --line-height: 23px;
  /* --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif; */
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --general-transition-duration: 150ms;
  --general-transition-function: ease-in-out;
  --general-transition-properties: color, background-color, border-color,
    box-shadow;
}
